* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Supreme, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.05em;
    background-color: white;
    position: relative;
}

/* HEADER */

nav {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #00275B;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    align-items: center;
    flex: 0 1 1200px;
}

.header-links {
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
    margin: 0 35px;
    color: #00275B;
    font-size: 1.05em;
}

.icon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.icon-list li img {
    cursor: pointer;
}

.greeting {
    display: flex;
    margin-left: auto;
    margin-right: 30px;
    font-size: 1em;
    color: #00275B;
}

.logout {
    margin-right: 30px;
    font-size: 1em;
    color: #00275B;
    text-decoration: underline;
    cursor: pointer;
}

div .invisibleLogout {
    display: none;
}

.icon-list li:last-child {
    position: relative;
}

.cartNumber {
    background-color: #00275B;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 0.7em;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 60%;
    display: flex;
}

li .invisible {
    display: none;
}

/* CONTENT */

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 1 1200px;
    min-width: 200px;
    margin: 60px;
}

.heading {
    font-size: 1.75em;
    letter-spacing: 0.075em;
    margin: calc(1ex / 0.42) 0;
    color: #00275B;
    flex: 1;
}

.featuredProduct {
    margin: calc(1ex / 0.42) 0;
    width: 100%;
}

/* FOOTER */

hr.divider {
    border-top: 1px solid rgba(166,166,166,0.3);
}

footer {
    display: flex;
    justify-content: center;
}

.footer-section {
    flex: 0 1 1200px;
    display: flex;
    justify-content: space-between;
    margin: calc(1ex / 0.42) 0;
}

.footer-list {
    margin: calc(1ex / 0.42) 1.5rem;
}

.footer-list li {
    color: #00275B;
    font-size: 1em;
    line-height: calc(1ex / 0.32);
}

.footer-list li:first-child {
    font-size: 1.2em;
    margin-bottom: 0.75em;
    
}

.footer-list li:last-child {
    cursor: pointer;
}

.footerSearch {
    cursor: pointer;
}

.disclaimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #00275B;
    font-size: small;
    margin-top: calc(1ex / 0.42);
    padding-bottom: calc(1ex / 0.42);
}

.disclaimer ul {
    display: flex;
    gap: 8px;
}


/* CART */

.cartContent, .login-content {
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: center;
    color: #00275B;
    flex: 0 1 1200px;
}

.cart-heading-empty, .login-heading {
    font-size: 2em;
}

.cart-button-empty, .login-button {
    background-color: #00275B;
    color: white;
    padding: 0.8em 2em;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    margin: 1.2em 0 3em 0;
    cursor: pointer;
}

.cart-button-empty a {
    color: white;
}

.cart-account-heading {
    font-size: 1.4em;
    margin-bottom: 0.7em;
}

.cart-login a {
    text-decoration: underline;
}


.fullCart {
    display: flex;
    width: 60%;
    margin: 5em;
    flex-direction: column;
    flex: 0 1 1200px;
}

.cart-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 0 1.5em 0;
}

.secured-cart {
    font-size: 2em;
    color: #00275B;
}

.continue-shopping {
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: underline;
}

.subheading {
    display: flex;
    color: #818080;
}

.subproduct {
    width: 50%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.6em;
}

.subamounts {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 0.5em 0;
    text-transform: uppercase;
    font-size: 0.6em;
}

.purchase-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.subtotal {
    font-size: 1.2em;
    color: #00275B;
    display: flex; 
    align-items: end;
    margin: 2em 0 0.3em 0;
}

.productCard {
    display: flex;
    margin: 1.5em 0;
    color: #00275B;
}

.infoContainer {
    display: flex;
    width: 50%;
    align-items: center;
    font-size: 1em;
    flex-wrap: wrap;
}

.productPicture {
    margin-right: 1em;
}

.priceCart {
    margin-top: 0.5em;
    color: #818080;
    font-size: 0.9em;
}

.amountPrice {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    flex-wrap: wrap;
}

.quantityCounterCart {
    display: flex;
    border: 1px solid #00275B;
    justify-content: space-evenly;
    padding: 0.5em 0;
    flex: 0 1 250px;
}

.remove {
    cursor: pointer;
}

.purchase {
    background-color: #00275B;
    color: white;
    padding: 0.8em 2em;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    margin-bottom: 2em;
    cursor: pointer;
}

.invisibleEmptyCart, .invisibleFullCart {
    display: none;
}


/* LOGIN */

.login-content {
    flex: 0 1 1200px;
}

.login-heading {
    margin-bottom: 1em;
}

.login-button {
    margin: 2.5em 0 1em 0;
}

.create-account {
    text-decoration: underline;
    cursor: pointer;
}

.login-input {
    padding: 1em 1em;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    margin: 0.7em 0;
    width: 300px;
}

.forgot-password {
    font-size: 0.8em;
    text-decoration: underline;
    cursor: pointer;
}

/* PRODUCTS */

.productGallery {
    display: flex;
    flex-wrap: wrap;
}

.productContainer {
    display: flex;
    flex-direction: column;
    margin: 3em 1em;
}

.productImage {
    filter: drop-shadow(0 10px 5px rgb(189, 188, 188));
    align-self: center;
}

.nameContainer {
    font-size: 0.8em;
    margin: 2em 0 0.8em 0;
    letter-spacing: 0.1em;
    color: #00275B;
}

.priceContainer {
    letter-spacing: 0.1em;
    color: #00275B;
}

.quantity, .featuredQuantity{
    font-size: 0.8em;
    margin: 1.1em 0 0.5em 0;
    letter-spacing: 0.1em;
    color: #818080;
}

.quantityCounter, .featuredQuantityCounter {
    display: flex;
    border: 1px solid #00275B;
    justify-content: space-evenly;
    margin: 0 0 1em 0;
    padding: 0.5em 0;
}

.plus, .minus, .featuredPlus, .featuredMinus{
    display: flex;
    justify-content: center;
    padding: 0 1em;
    font-size: 1.2em;
    cursor: pointer;
    color: #00275B;
    flex: 1;
}

.quantityInput, .featuredQuantityInput {
    border: none;
    text-align: center;
    color: #00275B;
}

.addToCart, .featuredAddToCart {
    background-color: #00275B;
    color: white;
    padding: 0.5em 1.8em;
    font-size: 1em;
    letter-spacing: 0.2em;
    cursor: pointer;
}

.featuredProduct {
    display: flex;
    justify-content: center;
}

.featuredContainer {
    display: flex;
    margin: 4.5em;
    flex-wrap: wrap;
    justify-content: center;
}

.featuredImage {
    filter: drop-shadow(0 10px 5px rgb(189, 188, 188));
    margin-right: 25px;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.featuredNameContainer {
    font-size: 2.5em;
    letter-spacing: 0.1em;
    padding-top: 1em;
    color: #00275B;
}

.featuredPriceContainer {
    font-size: 1.5em;
    margin: 1em 0 0 0;
    color: #00275B;
}

.featuredQuantity {
    margin-top: 8em;
}

.featuredQuantityCounter {
    justify-content: space-between;
}

.featuredQuantityCounter, .featuredAddToCart {
    width: 250px;
}


/* SEARCH */

.productSearch {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.7);
}

.searchBackground {
    width: 100%;
    height: calc(100% - 153px);
}

.searchContainer {
    width: 100%;
    height: 153px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 153px;
    margin-right: 1.5em;
}

#searchInput {
    width: 95%;
    height: 40%;
    margin: 2.5em 0 0 0;
    padding-left: 4%;
    font-size: 1.1em;
    letter-spacing: 0.1em;
}

.resultsContainer {
    position: absolute;
    display: block;
    width: 99%;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.dropdownHeading {
    width: 100%;
    color: #818080;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    padding: 1.2em 0 1.2em 4%;
} 

.resultCard {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.resultCard:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.searchImage {
    padding: 1em 1.5em 1em 1em;
    filter: drop-shadow(0 5px 5px rgb(189, 188, 188));
}

.searchName {
    letter-spacing: 0.1em;
    font-size: 0.9em;
}

.close {
    cursor: pointer;
}

.invisibleSearch {
    display: none;
}

.invisibleResults {
    display: none;
}

/* REVIEW */

.reviewFeaturedContainer {
    display: flex;
    justify-content: center;
    width: 250px;
}

.writeReview {
    display: flex;
    justify-content: center;
    color:#00275B;
    text-decoration: underline;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    margin: 0.5em;
    cursor: pointer;
}

.reviewContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.7);
    display: flex;
    justify-content: center;
    z-index: 1;
}

.reviewForm {
    width: 70vw;
    height: 65vh;
    background-color: white;
    margin-top: 20vh;
    border-radius: 8px;
    border: 2px solid rgba(0, 40, 92, 0.7);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: fixed;
    top: auto;
    right: auto;
}

.reviewHeading {
    color: #00275B;
    font-size: 2em;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;
    margin: 1em 0 15px 15px;
}

.reviewDetails {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.reviewImgContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 10px 15px 20px 15px;
}

.rateContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 0 10% 0 30px;
    color: #00275B;
}

.reviewSubheading {
    font-size: 1.3em;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
}

.starsContainer {
    font-size: 24px;
    margin-bottom: 1.3em;
}
   
.star {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
}

.pointer {
    cursor: pointer;
}

.gold {
    color: gold;
}

.gray {
    color: gray;
}

.reviewText {
    font-size: 1.3em;
    margin-bottom: 0.6em;
}

#productReview {
    color: #403f3f;
    padding: 0.5em;
    letter-spacing: 0.1em;
    font-size: 0.9em;
    font-family: Supreme, Verdana, Geneva, Tahoma, sans-serif;
}

.reviewButtons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.cancel, .submit {
    background-color: #00275B;
    color: white;
    padding: 0.5em 1.8em;
    font-size: 1em;
    letter-spacing: 0.2em;
    cursor: pointer;
    margin-top: 1em;
}

.invisibleReview {
    display: none;
}