* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.05em;
    background-color: white;
}

/* header */

nav {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #00275B;
}

.navbar {
    width: 60vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header-links {
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
    margin-left: 35px;
    margin-right: 35px;
    color: #00275B;
    font-size: 1.05em;
}

.header-links li:nth-child(2) {
    cursor: pointer;
}

.icon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.icon-list li img {
    cursor: pointer;
}

.greeting {
    display: flex;
    margin-left: auto;
    margin-right: 30px;
    font-size: 1.5em;
    color: #00275B;
}

/* body */

main {
    display: flex;
    justify-content: center;
}

.main-content {
    width: 60vw;
}

.heading {
    font-size: 1.75em;
    letter-spacing: 0.075em;
    margin: calc(1ex / 0.42) 0;
}

.featuredProduct {
    margin: calc(1ex / 0.42) 0;
}

/* footer */

hr.divider {
    border-top: 1px solid rgba(166,166,166,0.3);
}

footer {
    display: flex;
    justify-content: center;
}

.footer-section {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    margin: calc(1ex / 0.42) 0;
    flex-wrap: wrap;
}

.footer-list {
    margin: calc(1ex / 0.42) 0;
}

.footer-list li {
    color: #00275B;
    font-size: 1em;
    line-height: calc(1ex / 0.32);
}

.footer-list li:first-child {
    font-size: 1.2em;
    margin-bottom: 0.75em;
    
}

.footer-list li:last-child {
    cursor: pointer;
}

.disclaimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #00275B;
    font-size: small;
    margin-top: calc(1ex / 0.42);
    padding-bottom: calc(1ex / 0.42);
}

.disclaimer ul {
    display: flex;
    gap: 8px;
}


/* cart */

.cart-content, .login-content {
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: center;
    color: #00275B;
}

.cart-heading-empty, .login-heading {
    font-size: 2em;
}

.cart-button-empty, .login-button {
    background-color: #00275B;
    color: white;
    padding: 0.8em 2em;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    margin: 1.2em 0 3em 0;
    cursor: pointer;
}

.cart-button-empty a {
    color: white;
}

.cart-account-heading {
    font-size: 1.4em;
    margin-bottom: 0.7em;
}

.cart-login a {
    text-decoration: underline;
}

/* login */

.login-heading {
    margin-bottom: 1em;
}

.login-button {
    margin: 2.5em 0 1em 0;
}

.create-account {
    text-decoration: underline;
    cursor: pointer;
}

.login-input {
    padding: 1em 1em;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    margin: 0.7em 0;
    width: 55%
}

.forgot-password {
    font-size: 0.8em;
    text-decoration: underline;
    align-self: flex-start;
    margin-left: 21%;
    cursor: pointer;
}

/* products */
